<<<<<<< HEAD
=======
@font-face {
  font-family: 'Helevetica Neue';
  src: url(./assets/fonts/Helvetica-Neue.ttf);
}
@font-face {
  font-family: 'La Belle Aurore';
  src: url(./assets/fonts/LaBelleAurore.woff2) format('woff2');
}
@font-face {
  font-family: 'Coolvetica';
  src: url(./assets/fonts/CoolveticaRg-Regular.woff2) format('woff2'),
    url(./assets/fonts/CoolveticaRg-Regular.woff) format('woff');
}

:root {
  --main-background-color: #f9fbf2;
  --main-top-background-color: #fbfef9;
  --main-accent-color: #fb8f67;
  --title-color: #1e2019;
}

.title {
  color: var(--title-color);
  font-family: 'Helvetica-Neue', sans-serif;
  font-size: 3em;
}

.navbar-brand {
  color: var(--main-accent-color);
  font-family: 'La Belle Aurore', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
}

#wrapper {
  width: 90%;
  min-height: 80%;
  margin-top: -100px; /* -100px to center vertically */
  background-color: var(--main-top-background-color);
  margin: 0 auto;
  padding: 20px; 
  border-radius: 10px;
}

.product-title {
  font-size: 2em;
}
>>>>>>> 0fdb040fbf840019ad5979fc09b8728983141b45
